<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span id="main-title" fxFlex>GitHub Client: {{slug}}</span>
    </mat-toolbar>
    <div class="global-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>