<mat-toolbar color="primary" role="header" fxLayout="row">

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Test 1</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>Test 2</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Test 3</span>
    </button>
  </mat-menu>

  <span fxFlex>
    GitHub Client
  </span>

  <button mat-icon-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>

<div class="global-container">
  <router-outlet></router-outlet>
</div>