<mat-card>
  <form fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutGap="15px" fxLayoutAlign="center stretch">

    <mat-form-field fxFlex fxFlex.gt-sm="1 0 160px" appearance="legacy">
      <mat-label>
        <mat-icon>account_circle</mat-icon> Name
      </mat-label>
      <input matInput type="text" name="matName" [(ngModel)]="name" placeholder="enter your name" required>
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex fxFlex.gt-sm="1 0 160px" appearance="standard">
      <input matInput [type]="showPassword ? 'text' : 'password'" name="matPassword" placeholder="Password">
      <mat-icon matSuffix (mouseenter)="showPassword=true" (mouseleave)="showPassword=false">lock</mat-icon>
      <mat-hint>At least 10 characters, one symbol, one number, one lowercase etc.....</mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex fxFlex.gt-sm="1 0 100px" appearance="fill">
      <mat-select placeholder="Language">
        <mat-option value="it">Italiano</mat-option>
        <mat-option value="en">English</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex fxFlex.gt-sm="0 0 80px" appearance="outline">
      <mat-label>Birth date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button fxFlex="40px" fxFlex.gt-sm="100%" mat-button mat-raised-button color="primary">ok</button>

  </form>
</mat-card>