<button mat-button mat-raised-button>click me</button>
<button mat-button mat-raised-button color="primary">click me</button>
<button mat-button mat-raised-button color="accent">click me</button>
<button mat-button mat-raised-button color="warn">click me</button>

<div class="alternative-theme">
  <button mat-button mat-raised-button>click me</button>
  <button mat-button mat-raised-button color="primary">click me</button>
  <button mat-button mat-raised-button color="accent">click me</button>
  <button mat-button mat-raised-button color="warn">click me</button>
</div>