<form #issueForm="ngForm" (submit)="submit()">
  <h2>Aggiungi issue</h2>
  <div fxLayout="column">
    <mat-form-field fxFlex>
      <input name="title" #issueTitle="ngModel" matInput placeholder="Titolo" [(ngModel)]="title" required>
      <mat-error *ngIf="issueTitle.invalid">Inserisci il titolo</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <textarea name="body" matInput placeholder="Testo" [(ngModel)]="body" rows="10"></textarea>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="end stretch">
    <button fxFlexOrder="0" fxFlexOrder.gt-sm="1" [disabled]="!issueForm.valid" fxFlex="100%" type="submit"
      mat-raised-button color="primary">Aggiungi</button>
    <a mat-button fxFlexOrder="1" fxFlexOrder.gt-sm="0" fxFlex="100%" color="warn" routerLink="/issue-list">Annulla</a>
  </div>
</form>